.center{
    text-align: center;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.main{
    font-size: large;
}

.low-margin{
    line-height: 0.2;
}

.topic{
    padding-left: 20px;
}

.in-topic{
    padding-left: 50px;
}

.ziro-margin{
    line-height: 0mm;
}

.small-font{
    font-size: small;
}

.outline{
    letter-spacing: 4px;
    color: white;
    background: black;
    outline-color: black;
    outline-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}