.main{
    background: #14E0DE;
}

.box{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 50px;
    background-color: lightgrey;
}

.pro{
    background-color: orangered ;
}

.box-bar{
    float: left;
    margin-top: 40px;
    margin-left: 80px;
    /* padding-left: 40px; */
    width: 250px;
    height: 20px;
    background-color: rgba(247, 239, 239, 0.205);
    border-radius: 40px;

}

.bar1{
    /* display: block; */
    width: 100%;
    height: 20px;
    background-color: rgba(255, 105, 180, 0.699);
    border-radius: 40px;
}

.bar2{
    /* display: block; */
    width: 90%;
    height: 20px;
    background-color: rgba(245, 166, 19, 0.808);
    border-radius: 40px;
}

.bar3{
    /* display: block; */
    width: 70%;
    height: 20px;
    background-color: rgba(161, 194, 41, 0.856);
    border-radius: 40px;
}

.bar4{
    /* display: block; */
    width: 80%;
    height: 20px;
    background-color: rgba(39, 128, 180, 0.589);
    border-radius: 40px;
}